.aboutMe {
	width: 100%;
	/* max-width: 75rem; */
	/* margin-top: 5rem;
	margin-left: 13rem; */
	line-height: 2rem;
	margin:1%;
}

@media (min-width: 375px) and (max-width: 430px) {
	.row {
	  margin-left: -8rem;
	  margin-right: 2rem;
	  margin-top: -7rem;
	  margin-bottom: -10rem;
	}
   
	}