.homePage {
	display: flex;
	justify-content: space-around;
	margin-top: 5rem;
	/* margin: 5rem 10rem 0 10rem; */
}

.profilePic {
	object-fit: cover;
	height: 25rem;
	width: 25rem;
	border-radius: 15rem;
}

.about {
	/* margin-top: 5rem; */
}

.myName {
	border: none;
	color: rgb(22, 111, 170);
}


@media (min-width: 375px) and (max-width: 430px) {
.homePage {
	display: flex;
	flex-direction: column;
}

	.profilePic {
		object-fit: cover;
	   border-radius: 50%;
	   margin-left: -10rem;
	}
}   