.container {
	/* margin-left: 2rem; */
	margin-top: 0px;
	padding-top: 0px;
}

.portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.weather,
.recharge,
.blog,
.arlington,
.network,
.ecommerce {
	width: 300px;
}

.images {
	object-fit: cover;
	width: 15rem;
	height: 15rem;
	margin: 3%;
	padding: 3%;
}

.weatherImg {
	width: 15rem;
	height: 15rem;
	margin: 1rem 3rem;
}

.rechargeImg {
	width: 15rem;
	height: 15rem;
	margin: 1rem 3rem;
}

.note {
	color: yellow;
}